.page__details {
    margin-left: 150px;
    margin-right: 150px;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    h1{
        font-weight: 500;
        font-size: 23px;
    }
    .metadata {
        width: 70%;
        display: flex;
        margin: 10px 0px;
        b {
            font-weight: 600;
        }

        p {
            font-size: 14px;
        }
    }

    .rate {
        width: 25%;
        text-align: right;

        span {    
            font-size: 14px;
            font-weight: 500;
            }

        img {
            width: 12px;
        }
    }
}