.wrapper {
    width: 310px;
    cursor: pointer;

    .thumbnail__wrapper {
        background: lightgray;
        height: 300px;
        border-radius: 10px;
        margin-bottom: 15px;
        position: relative;
        overflow: hidden;

        .btn__whishlist {
            position: absolute;
            z-index: 9;
            right: 10px;
            top: 20px;
            background: none;
            border: none;
            cursor: pointer;

            img {
                width: 25px;
            }
        }
    }

}