.component {
  display: flex;
}

.carousel {
  display: flex;
  margin: 0 15px;
  width: 200px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.slide {
  width: 200px;
  height: 200px;
  margin: 0 20px;
  flex-shrink: 0;
  scroll-snap-align: start;
}

#slide1 {
  background-color: yellow;
}

#slide2 {
  background-color: green;
}

#slide3 {
  background-color: purple;
}